{{! Templates

Link
==============
<li class="drawer-list-item">
  <a href="#" title="Follow me on twitter!">
    <i class="fa fa-twitter"></i> Follow me
  </a>
</li>

Divider
==============
<li class="drawer-list-divider"></li>

Title
==============
<li class="drawer-list-item drawer-list-title">
  Follow me
</li>

}}

<li class="drawer-list-item">
  <a href="/" data-pjax>
    <i class="fa fa-home"></i>Home
  </a>
</li>
<li class="drawer-list-item">
  <a href="http://feeds.feedburner.com/CowboyProgrammer">
    <i class="fa fa-rss"></i>Subscribe to Feed
  </a>
</li>
<li class="drawer-list-divider"></li>
<li class="drawer-list-item drawer-list-title">
  Find me
</li>
<li class="drawer-list-item">
  <a href="http://github.com/spacecowboy" target="_blank">
    <i class="fa fa-github"></i>Github
  </a>
</li>
<li class="drawer-list-item">
  <a href="https://plus.google.com/+JonasKalderstam" target="_blank">
    <i class="fa fa-google-plus"></i>Google+
  </a>
</li>
<li class="drawer-list-item">
  <a href="http://careers.stackoverflow.com/jonaskalderstam" target="_blank">
    <i class="fa fa-stack-overflow"></i>Stack Overflow
  </a>
</li>
<li class="drawer-list-item">
  <a href="http://twitter.com/cowboyprogramr" target="_blank">
    <i class="fa fa-twitter"></i>Twitter
  </a>
</li>
<li class="drawer-list-item">
  <a href="http://pgp.mit.edu:11371/pks/lookup?op=get&search=0x987C54AB0D4451ED" target="_blank">
    <i class="fa fa-certificate"></i>Public Key
  </a>
</li>
<li class="drawer-list-divider"></li>
<li class="drawer-list-item drawer-list-title">
  Flattr
</li>
<li class="drawer-list-item">
<script id='fb0hybx'>(function(i){var f,s=document.getElementById(i);f=document.createElement('iframe');f.src='//api.flattr.com/button/view/?uid=spacecowboy&button=compact&url='+encodeURIComponent(document.URL);f.title='Flattr';f.height=20;f.width=110;f.style.borderWidth=0;s.parentNode.insertBefore(f,s);})('fb0hybx');</script>
</li>
<li class="drawer-list-divider"></li>
<li class="drawer-list-item drawer-list-title">
  Bitcoin
</li>
<li class="drawer-list-item">
<a href="bitcoin:16DUL1X4yARfM88GN7TV6Y3wQwqrstJs7A?amount=0.01&label=Cowboy%20Programmer">
16DUL1X4yARfM88GN7TV6Y3wQwqrstJs7A
</a>
</li>